<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <div class="nav-item" style="margin-top: 8px;">
        </div>
      </div>
    </div>    
    <% if (typeof user !== 'undefined') { %>
    <% if (user.email) { %>          
      <span>Logged in as: <%= user.email %></span>
      <form method="POST" action="/logout" style="display: inline-block;">
        <button class="btn btn-primary" type="submit">Logout</button>
      </form>              
    <% } else { %>                        
      <a class="btn btn-primary" href="/login" style="margin-right: 10px">Login</button>
      <a class="btn btn-info" href="/register">Sign Up</a>
    <% } %>
    <% } %>
  </nav>
</header>